{% extends 'base.html' %} {% block content %}

<div>
  <div>
    <form method="POST" action="{% url 'connect_user' %}">
      {% csrf_token %}
      <fieldset>
        <legend>서버 연결 형식</legend>
        <table class="table">
          <tr>
            <td>유저 아이디:</td>
            <td><input type="text" name="user_id" id="user_id" placeholder="유저 아이디를 입력하세요" value="{{ user.username }}" /></td>
          </tr>
          <tr>
            <td>Client IP:</td>
            <td><input type="text" name="client_IP" id="client_IP" placeholder="client_IP" /></td>
          </tr>
          <tr>
            <td>Client Name::</td>
            <td><input type="client_name" name="client_name" id="client_name" placeholder="client_name" /></td>
          </tr>
          <tr>
            <td>Client Password:</td>
            <td><input type="text" name="client_password" id="client_password" placeholder="client_password" /></td>
          </tr>
          <tr>
            <td>동의 여부 :</td>
            <td>스크립트 실행에 동의 합니다. <input type="checkbox" name="agree" id="agree" required /></td>
          </tr>

          <tr>
            <td></td>
            <td><button type="submit" id="run-script-btn">Run Script</button></td>

            <script>
              $(document).ready(function () {
                $("#run-script-btn").click(function () {
                  $.ajax({
                    url: "/connect_user",
                    type: "POST",
                    success: function (response) {
                      alert(response);
                    },
                    error: function (error) {
                      console.log(error);
                    },
                  });
                });
              });
            </script>
          </tr>
        </table>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
